.post {
    border: solid black;
    background-color: white;
    width: 400px;
    margin: auto;
    
}
.fotobarra {
    font-size: large;
    margin-left: 70%;
    margin-top: 7%;
}
.fotoicono {
    width: 40px;
    padding-top: 40%;
}
.cabeza {
    display: flex;
}

.foto {
    width: 100%;
}
.icono1 {
    font-size: 27px;
}
.icono2 { 
    font-size: 27px;
}
.icono3 {
    font-size: 27px;
}
.icono4 {
    font-size: 27px;
    margin-left: 70%;
}
.iconos {
    display: flex;
}
